.nav-bar-item {
    float: left;
}

.nav-bar-item a {
    display: block;
    color: var(--main-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar-item a:hover:not(.active) {
    background-color: var(--main-highlight-color);
}

li.nav-bar-item.active {
    background-color: #04AA6D;
}

li.nav-bar-item.right {
    float: right;
}