.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-error-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.disabled {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-disabled-2-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--main-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.disabled:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--main-disabled-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.on+.slider {
    background-color: var(--main-menu-color);
}


.on+.disabled {
    background-color: var(--main-disabled-color);
}


.on+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.on+.disabled:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.disabled.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.disabled.round:before {
    border-radius: 50%;
}

.margin {
    margin: 10px;
}